.trou {
	width: 200px;
	height: 200px;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	cursor: pointer;
    border: solid;
    margin-left: 26%;
}
#taupe{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe1{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe2{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe3{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe4{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe5{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe6{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe7{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe8{
    width: 194px;
    position: relative;
    top: 10%;
}
#taupe9{
    width: 194px;
    position: relative;
    top: 10%;
}